body {

    color: #e4800d;
    background: rgb(29, 23, 65);
}

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}

.nav2 {
  display:inline;
  padding: 3px;
  margin: 3px;
  background-color:rgb(166, 31, 99);
}






